{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": ["off", {
      "allow": [],
    }],
    "no-param-reassign": "off",
    "global-require": "off",
    "no-use-before-define": "off",
  },
}
